<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <title>Network Security Analysis</title>
   </head>
   <body>
      <div class="container">
         <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/img/CODESTUDIO_LOGO_100px.png" alt="">
            <h2>Network Security Analysis</h2>
            <p class="lead">Fill all the fields correctly</p>
         </div>
         <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
               <h4 class="mb-3">Network Details</h4>
               {% if show_hidden == True %}
               <div class="alert alert-success" role="alert">{{ prediction_text }}</div>
               {% endif %}
               <form action="{{ url_for('predict')}}" method="post" class="needs-validation" >
                  <div class = "row">
                     <div class=" "col-md-6">
                     <label for="duration">Duration</label>
                     <input type="text" class="form-control" id = "duration" name="duration" required>
                     </div>
                  </div>

            <div class = "row">
                     <div class=" "col-md-6">
                     <label for="src_bytes">Source Bytes</label>
                     <input type="text" class="form-control" id = "src_bytes" name="src_bytes" required>
                     </div>
<!--                  </div>-->

<!--                     <div class = "row">-->
                     <div class=" "col-md-6">
                     <label for="dst_bytes">Destination Bytes</label>
                     <input type="text" class="form-control" id = "dst_bytes" name="dst_bytes" required>
                     </div>
            </div>

                  <div class = "row">
                     <div class=" "col-md-6">
                     <label for="wrong_fragment">Wrong Fragment</label>
                     <input type="text" class="form-control" id = "wrong_fragment" name="wrong_fragment" required>
                     </div>
                  </div>

                        <div class = "row">
                     <div class=" "col-md-6">
                     <label for="urgent">Urgent</label>
                     <input type="text" class="form-control" id = "urgent" name="urgent" required>
                     </div>
                  </div>

                              <div class = "row">
                     <div class=" "col-md-6">
                     <label for="hot">HOT</label>
                     <input type="text" class="form-control" id = "hot" name="hot" required>
                     </div>
                  </div>
                              <div class = "row">
                     <div class=" "col-md-6">
                     <label for="num_failed_logins">Failed Logins</label>
                     <input type="text" class="form-control" id = "num_failed_logins" name="num_failed_logins" required>
                     </div>
                  </div>


                                    <div class = "row">
                     <div class=" "col-md-6">
                     <label for="num_compromised">Compromised</label>
                     <input type="text" class="form-control" id = "num_compromised" name="num_compromised" required>
                     </div>
                  </div>

                                    <div class = "row">
                     <div class=" "col-md-6">
                     <label for="root_shell">Root Shell</label>
                     <input type="text" class="form-control" id = "root_shell" name="root_shell" required>
                     </div>
                  </div>
                                    <div class = "row">
                     <div class=" "col-md-6">
                     <label for="su_attempted">SU Attempted </label>
                     <input type="text" class="form-control" id = "su_attempted" name="su_attempted" required>
                     </div>
                  </div>

                                    <div class = "row">
                     <div class=" "col-md-6">
                     <label for="num_root">Number of Roots</label>
                     <input type="text" class="form-control" id = "num_root" name="num_root" required>
                     </div>
                  </div>

                                    <div class = "row">
                     <div class=" "col-md-6">
                     <label for="num_file_creations">Number of File Creations</label>
                     <input type="text" class="form-control" id = "num_file_creations" name="num_file_creations" required>
                     </div>
                  </div>

                                    <div class = "row">
                     <div class=" "col-md-6">
                     <label for="num_shells"> Number of Shells</label>
                     <input type="text" class="form-control" id = "num_shells" name="num_shells" required>
                     </div>
                  </div>

      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="duration">num_access_files</label>
                     <input type="text" class="form-control" id = "num_access_files" name="num_access_files" required>
                     </div>
                  </div>

      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="num_outbound_cmds">Outbound Commands</label>
                     <input type="text" class="form-control" id = "num_outbound_cmds" name="num_outbound_cmds" required>
                     </div>
                  </div>
      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="count">count</label>
                     <input type="text" class="form-control" id = "count" name="count" required>
                     </div>
                  </div>
      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="srv_count">srv_count</label>
                     <input type="text" class="form-control" id = "srv_count" name="srv_count" required>
                     </div>
                  </div>

      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="serror_rate">serror_rate</label>
                     <input type="text" class="form-control" id = "serror_rate" name="serror_rate" required>
                     </div>
                  </div>
      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="srv_serror_rate">srv_serror_rate</label>
                     <input type="text" class="form-control" id = "srv_serror_rate" name="srv_serror_rate" required>
                     </div>
                  </div>


      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="rerror_rate">rerror_rate</label>
                     <input type="text" class="form-control" id = "rerror_rate" name="rerror_rate" required>
                     </div>
                  </div>
      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="srv_rerror_rate">srv_rerror_rate</label>
                     <input type="text" class="form-control" id = "srv_rerror_rate" name="srv_rerror_rate" required>
                     </div>
                  </div>
      <div class = "row">
                     <div class=" "col-md-6">
                     <label for="same_srv_rate">same_srv_rate</label>
                     <input type="text" class="form-control" id = "same_srv_rate" name="same_srv_rate" required>
                     </div>
                  </div>


       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="diff_srv_rate">diff_srv_rate</label>
                     <input type="text" class="form-control" id = "diff_srv_rate" name="diff_srv_rate" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="srv_diff_host_rate">srv_diff_host_rate</label>
                     <input type="text" class="form-control" id = "srv_diff_host_rate" name="srv_diff_host_rate" required>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_count">dst_host_count</label>
                     <input type="text" class="form-control" id = "dst_host_count" name="dst_host_count" required>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_srv_count">dst_host_srv_count</label>
                     <input type="text" class="form-control" id = "dst_host_srv_count" name="dst_host_srv_count" required>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_same_srv_rate">dst_host_same_srv_rate</label>
                     <input type="text" class="form-control" id = "dst_host_same_srv_rate" name="dst_host_same_srv_rate" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_diff_srv_rate">dst_host_diff_srv_rate</label>
                     <input type="text" class="form-control" id = "dst_host_diff_srv_rate" name="dst_host_diff_srv_rate" required>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_same_src_port_rate">dst_host_same_src_port_rate</label>
                     <input type="text" class="form-control" id = "dst_host_same_src_port_rate" name="dst_host_same_src_port_rate" required>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_srv_diff_host_rate">dst_host_srv_diff_host_rate</label>
                     <input type="text" class="form-control" id = "dst_host_srv_diff_host_rate" name="dst_host_srv_diff_host_rate" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_serror_rate">dst_host_serror_rate</label>
                     <input type="text" class="form-control" id = "dst_host_serror_rate" name="dst_host_serror_rate" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_srv_serror_rate">dst_host_srv_serror_rate</label>
                     <input type="text" class="form-control" id = "dst_host_srv_serror_rate" name="dst_host_srv_serror_rate" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_rerror_rate">dst_host_rerror_rate</label>
                     <input type="text" class="form-control" id = "dst_host_rerror_rate" name="dst_host_rerror_rate" required>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="dst_host_srv_rerror_rate">dst_host_srv_rerror_rate</label>
                     <input type="text" class="form-control" id = "dst_host_srv_rerror_rate" name="dst_host_srv_rerror_rate" required>
                     </div>
                  </div>
       <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="protocol_type">Protocol Type</label>
                        <select id="protocol_type" name="protocol_type" class="form-control" required>
                           <option value="" selected></option>
                           <option value="tcp">TCP</option>
                           <option value="udp">UDP</option>
                           <option value="icmp">ICMP</option>
                        </select>
                     </div>
                  </div>

       <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="service">Service Type</label>
                        <select id="service" name="service" class="form-control" required>
                           <option value=" ftp_data "> ftp_data </option>
                            <option value=" other "> other </option>
                            <option value=" private "> private </option>
                            <option value=" http "> http </option>
                            <option value=" remote_job "> remote_job </option>
                            <option value=" name "> name </option>
                            <option value=" netbios_ns "> netbios_ns </option>
                            <option value=" eco_i "> eco_i </option>
                            <option value=" mtp "> mtp </option>
                            <option value=" telnet "> telnet </option>
                            <option value=" finger "> finger </option>
                            <option value=" domain_u "> domain_u </option>
                            <option value=" supdup "> supdup </option>
                            <option value=" uucp_path "> uucp_path </option>
                            <option value=" Z39_50 "> Z39_50 </option>
                            <option value=" smtp "> smtp </option>
                            <option value=" csnet_ns "> csnet_ns </option>
                            <option value=" uucp "> uucp </option>
                            <option value=" netbios_dgm "> netbios_dgm </option>
                            <option value=" urp_i "> urp_i </option>
                            <option value=" auth "> auth </option>
                            <option value=" domain "> domain </option>
                            <option value=" ftp "> ftp </option>
                            <option value=" bgp "> bgp </option>
                            <option value=" ldap "> ldap </option>
                            <option value=" ecr_i "> ecr_i </option>
                            <option value=" gopher "> gopher </option>
                            <option value=" vmnet "> vmnet </option>
                            <option value=" systat "> systat </option>
                            <option value=" http_443 "> http_443 </option>
                            <option value=" efs "> efs </option>
                            <option value=" whois "> whois </option>
                            <option value=" imap4 "> imap4 </option>
                            <option value=" iso_tsap "> iso_tsap </option>
                            <option value=" echo "> echo </option>
                            <option value=" klogin "> klogin </option>
                            <option value=" link "> link </option>
                            <option value=" sunrpc "> sunrpc </option>
                            <option value=" login "> login </option>
                            <option value=" kshell "> kshell </option>
                            <option value=" sql_net "> sql_net </option>
                            <option value=" time "> time </option>
                            <option value=" hostnames "> hostnames </option>
                            <option value=" exec "> exec </option>
                            <option value=" ntp_u "> ntp_u </option>
                            <option value=" discard "> discard </option>
                            <option value=" nntp "> nntp </option>
                            <option value=" courier "> courier </option>
                            <option value=" ctf "> ctf </option>
                            <option value=" ssh "> ssh </option>
                            <option value=" daytime "> daytime </option>
                            <option value=" shell "> shell </option>
                            <option value=" netstat "> netstat </option>
                            <option value=" pop_3 "> pop_3 </option>
                            <option value=" nnsp "> nnsp </option>
                            <option value=" IRC "> IRC </option>
                            <option value=" pop_2 "> pop_2 </option>
                            <option value=" printer "> printer </option>
                            <option value=" tim_i "> tim_i </option>
                            <option value=" pm_dump "> pm_dump </option>
                            <option value=" red_i "> red_i </option>
                            <option value=" netbios_ssn "> netbios_ssn </option>
                            <option value=" rje "> rje </option>
                            <option value=" X11 "> X11 </option>
                            <option value=" urh_i "> urh_i </option>
                            <option value=" http_8001 "> http_8001 </option>
                            <option value=" aol "> aol </option>
                            <option value=" http_2784 "> http_2784 </option>
                            <option value=" tftp_u "> tftp_u </option>
                            <option value=" harvest "> harvest </option>
                        </select>
                     </div>
                  </div>

                     <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="flag">Flag</label>
                        <select id="flag" name="flag" class="form-control" required>
                            <option value=" SF "> SF </option>
                            <option value=" S0 "> S0 </option>
                            <option value=" REJ "> REJ </option>
                            <option value=" RSTR "> RSTR </option>
                            <option value=" SH "> SH </option>
                            <option value=" RSTO "> RSTO </option>
                            <option value=" S1 "> S1 </option>
                            <option value=" RSTOS0 "> RSTOS0 </option>
                            <option value=" S3 "> S3 </option>
                            <option value=" S2 "> S2 </option>
                            <option value=" OTH "> OTH </option>
                        </select>
                     </div>
                  </div>

       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="land_1">land_1</label>
                     <input type="text" class="form-control" id = "land_1" name="land_1" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="logged_in_1">logged_in_1</label>
                     <input type="text" class="form-control" id = "logged_in_1" name="logged_in_1" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="is_host_login_1">is_host_login_1</label>
                     <input type="text" class="form-control" id = "is_host_login_1" name="is_host_login_1" required>
                     </div>
                  </div>
       <div class = "row">
                     <div class=" "col-md-6">
                     <label for="is_guest_login_1">is_guest_login_1</label>
                     <input type="text" class="form-control" id = "is_guest_login_1" name="is_guest_login_1" required>
                     </div>
                  </div>

















<!--                  <div class="row">-->
<!--                     <div class="col-md-6 mb-3">-->
<!--                        <label for="state">State</label>-->
<!--                        <select id="state" name="state" class="form-control" required>-->
<!--                           <option value="" selected></option>-->
<!--                           <option value="New York">New York</option>-->
<!--                           <option value="California">California</option>-->
<!--                           <option value="Florida">Florida</option>-->
<!--                        </select>-->
<!--                     </div>-->
<!--                  </div>-->
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Predict</button>
            </div>
            <div class="col-md-2">
            </div>
            </form>
         </div>











         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Vishal Singhania</p>
            <ul class="list-inline">
               <li class="list-inline-item"><a href="#">Privacy</a></li>
               <li class="list-inline-item"><a href="#">Terms</a></li>
               <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
         </footer>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   </body>
</html>